@import './material-icons.css';
@import '~@/assets/styles/variables';

// vuetify预置了大量颜色变量，可减少30k左右
// $color-pack = false
@import '~vuetify/src/stylus/main';

.divider
    background rgba(0,0,0,.12)
.app-refresh
    background #000
    color #fff
    height 0
    line-height 0
    opacity 0
    position fixed
    left 0
    right 0
    z-index 10001
    padding 0 18px
    transition all .2s ease-in
    .app-refresh-wrap
        display flex
    span
        display inline-block
        flex 1
        font-size 15px
    button
        color #fff
        outline none
        font-size 15px

.app-refresh-show
    height 52px
    line-height 52px
    opacity 1
